:root {
    --img-logo-mp3: url(https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg);
    --side-bar-bg: #411465;
    --bg-header: #37075d;
    --text-white: #fff;
    --text-content-title: #fff;
    --text-player-title: #fff;
    --text-primary: #dadada;
    --text-secondary: hsla(0,0%,100%,0.5);
    --text-hover: #fff;
    --text-sidebar-color: #dadada;
    --text-header-color: #dadada;
    --descript-color: #d9d9d9;
    --border-primary: hsla(0,0%,100%,0.1);
    --bg-primary: hsla(0,0%,100%,0.1);
    --bg-header-drop: #6a39af;
    --primary-color: #ed2b91;
    --primary-color-hover: #fe63da;


    --header-with-search-height: 70px;
    --sidebar-width: calc(100% - 240px);  
    --player-height: 90px;  
    --offset-x-second: calc(0px - ((230px - (230px * var(--scale-rate-second))) / 2 + 20px));
    --offset-x-third: calc(0px - ((230px - (230px * var(--scale-rate-third))) / 2 + 40px));
    --scale-rate-second: calc(196 / 230);
    --scale-rate-third: calc(162 / 230);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.6rem;
    font-family: sans-serif;
}



/* Button */
.btn {
    background-color: transparent;
    min-width: 120px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    font-size: 1.2rem;
    outline: none;
    color: var(--text-primary);
    text-decoration: none;
    padding: 0;
    border-color: transparent;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    color: var(--text-sidebar-color);
}

.btn--primary {
    color: var(--text-primary) !important;
    background-color: var(--primary-color) !important;
    opacity: 1 !important;
}

.btn--with-icon {
    padding: 0 22px;
}

.btn--disable {
    opacity: 0.3 !important;
    color: #d1d1d1 !important;
    cursor: default;
    filter: brightness(1) !important;
}

/* Animation */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* ======= Toast message ======== */

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 8px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success,
.toast--notification {
    border-color: #47d864;
}

.toast--success .toast__icon,
.toast--notification .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast + .toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
